@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    font-family: Montserrat;
}
.container{
    max-width: 375px;
    width: 100%;
    margin: 80px auto 136px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.name{
    font-weight: 700;
    font-size: 18px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.description{
    margin-left: 24px;
    width: 117px;
    height: 80px;
    font-weight: 400;
    text-align: center;
    color: #5B5B5B;
}
.time-span{
    font-weight: 600;
    text-align: center;
}
.date{
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.possible-date{
    color: #5B5B5B;
}
.date-items{
    margin-top: 16px;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.date-item{
    display: inline-block;
    width: 86px;
    height: 92px;
    margin-right: 16px;
    padding: 16px 8px;
    text-align: center;
    border: 1px solid #EDEFF2;
    border-radius: 6px;
    box-shadow: 0px 5px 8px 0px #0000000A;
}
.date-item-active{
    background: #F0FBFF;
    border: 1px solid #33BDE4;
    box-sizing: border-box;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.04);
    color: #33BDE4;
}
.date-item-day{
    color: #5B5B5B;
}
.date-item-active .date-item-day{
    color: #33BDE4;
}
.date-item-time{
    font-weight: 700;
    font-size: 24px;
}
.time{
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.time-item{
    margin-top: 16px;
    align-items: center;
    height: 40px;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
}
.time-item div{
    display: inline-block;
    font-size: 24px;
    width: 87px;
    height: 32px;
    padding: 4px 0;
    color: #C1C1C1;
    text-align: center;
}
.time-item .active div{
    font-weight: 700;
    padding: 0;
    font-size: 32px;
    color: #33BDE4;
    line-height: 32px;
}
.appointment{
    margin-top: 32px;
    padding: 24px 12px;
    border: 1px solid #EDEFF2;
    width: 100%;
}
.date-time{
    display: flex;
    justify-content: space-between;
    margin: 0 26.5px;
    position: relative;
}
.date-time::after{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #E6E6E6;
    left: 50%;
    transform: translate(-50%);
}
.appointment-date{
    display: flex;
    flex-direction: column;
    width: 120px;
    padding-right: 50px
}
.appointment-date-item{
    text-align: center;
    font-weight: 400;
    color: #5B5B5B
}
.appointment-date-time{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.appointment-day{
    margin-right: 6px;
    font-size: 20px;
}
.date-item-month{
    font-size: 20px;
}
.appointment-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.appointment-time-item{
    font-weight: 700;
    font-size: 20px;
}
.appointment-button{
    margin-top: 16px;
    width: 100%;
    background-color: #33BDE4;
    border: none;
    border-radius: 4px;
    padding: 10px 24.5px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff
}



.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 50px solid #33BDE4;
    border-color: #33BDE4 transparent #33BDE4 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }